<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Compra</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>Compra Confirmada</h1>
        <p>Gracias por tu compra, <strong>{{nombre}}</strong>!</p>
        <p>Tu número de orden es: <strong>{{numeroOrden}}</strong></p>
        <p>Un correo de confirmación ha sido enviado a: <strong>{{email}}</strong></p>
    </div>
            <a class="btnMios noSub" href="/products">Tienda</a>
        <a class="btnMios noSub" href="/api/users/profile">Mi Perfil</a>
</body>
</html>
