<h1>Productos</h1>

<div>
    {{#each productos}}
        <div class="card">
            <p> {{title}} </p>
            <p> {{description}}  </p>
            <p> {{price}} </p>
        </div>
    {{/each}}
</div>